* {
  margin: 0;
  padding: 0;
}

img,
.box {
  /* 背景色 */
  background-color: lightblue;

  /* 內容 (藍色區域) */
  width: 250px;
  height: 250px;

  /* 邊框 */
  border: 10px solid navy;
  /* 設定單邊邊框 */
  /* border-top: 5px solid navy;
  border-left: 5px solid salmon;
  border-bottom: 5px solid lightseagreen;
  border-right: 5px solid purple; */

  /* 內邊距 (內容與邊框的距離) */
  padding: 20px;
  /* padding: 20px 40px; */
  /* padding: 20px 40px 80px; */
  /* padding: 20px 40px 80px 160px; */

  /* padding-top: 20px; */
  /* padding-bottom: 40px; */
  /* padding-left: 80px; */
  /* padding-right: 160px; */

  /* 外邊距 (元素與元素之間的距離) */
  /* margin: 50px; */
  /* margin: 50px 100px; */
  /* margin: 50px 100px 200px; */
  /* margin: 50px 100px 400px; */
  /* margin-top: 50px; */
  /* margin-bottom: 100px; */
  /* margin-left: 200px; */
  /* margin-right: 400px; */
}

.border-box {
  box-sizing: border-box;
}

/* 圓形 -> 正方形 border-radius */
.circle {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  border: 3px solid navy;

  border-radius: 50%;
  /* border-radius: 10px; */
  /* border-radius: 10px 20px; */
  /* border-radius: 10px 20px 40px 80px; */
}

.center {
  text-align: center;
  line-height: 100px;
}

.link {
  text-decoration: none;
  color: black;
}

html {
  scroll-behavior: smooth;
}

/* 區塊元素水平置中 margin */
.box-center {
  margin: 50px auto;
}

.text-center {
  text-align: center;
}

/* 移除空白 */
.box2 {
  font-size: 0;
}

.box2 .box {
  font-size: initial;
}
