img {
  height: 300px;
  border: 2px solid black;

  margin: 20px;
}

p {
  font-size: 30px;
  line-height: 1.7;
  text-align: justify;
  clear: both;
}

.image3 {
  float: left;
}

.image4 {
  float: right;
}

.logo {
  float: left;
}
.btns {
  float: right;
}
.links {
  text-align: center;
}
