form {
  width: 500px;
}

.box {
  border-bottom: 2px dashed gray;
  padding-bottom: 20px;
  margin: 20px;
}

.t1 {
  float: left;
  width: 100px;
  text-align-last: justify;
  padding-right: 10px;
}

.btns {
  text-align: center;
}

fieldset {
  border-radius: 15px;
  margin-bottom: 20px;
}

legend {
  padding: 0 20px;
}
/* :first-child 、 :last-child */
fieldset > :last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
