/* CSS語法 */
h1 {
  color: navy;
  font-style: italic;
}

.bold {
  font-weight: bold;
  font-size: 18px;
}
.date {
  font-size: 14px;
  color: gray;
}
p {
  font-size: 18px;
  line-height: 1.7;
  text-align: justify;
}

.container{
  width: 750px;
  margin: auto;
}

.container img{
  width: 100%;
  border-radius: 15px;
}